# Database settings
#DB_NAME=global_exchange
#DB_USER=postgres
#DB_PASSWORD=postgres
#DB_HOST=localhost
#DB_PORT=5432

# Django secret key
#SECRET_KEY=your_secret_key_here

# Debug mode
#DEBUG=True
#MFA_LOGIN=False #Activar/desactivar MFA al hacer login
#CORREO_TASAS_LOGIN=True #Activar/desactivar los correos de tasas de cotizaciones al hacer login
#De todos modos, si Debug=False, no se enviaran al hacer login
#SITE_URL=http://127.0.0.1:8000

#Poner correos en domain ejemplo@mailtrap.io
# Correo de Mailtrap sandbox (para desarrollo)
#EMAIL_HOST=sandbox.smtp.mailtrap.io
#EMAIL_HOST_USER='proveido por mailtrap'
#EMAIL_HOST_PASSWORD='Proveido por mailtrap'
#EMAIL_PORT=2525
#EMAIL_USE_TLS=True

# Stripe
#STRIPE_PUBLIC_KEY=pk_test_01829398
#STRIPE_SECRET_KEY=sk_test_01928392

# DB del SQL-Proxy (según el README)
# Todos estos se dejan asi
#FS_PROXY_DB_NAME=fs_proxy_bd
#FS_PROXY_DB_USER=fs_proxy_user
#FS_PROXY_DB_PASSWORD=p123456
#FS_PROXY_DB_HOST=127.0.0.1
#FS_PROXY_DB_PORT=45432

#FS_PROXY_WEB_URL=http://localhost:40080/
#FS_PROXY_KUDE_USER=sqlproxy
#FS_PROXY_KUDE_PASS=kude1234

#FS_FORCE_DOC_151=False
#FS_FORCE_RUC_REC=False
#FS_TEST_OVERWRITE_151=False