# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# Django
*.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store
.migrations/

# Archivos generados por Sphinx
docs/_build/
docs/_static/
docs/_templates/

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Depuración
error.txt
