{% extends "webapp/base.html" %}
{% load static %}
{% load permissions_tags %}

{% has_perms user 'clientes.add_cliente' as can_add_clientes %} <!--Guarda el valor booleano que arroja el templatetag has_perms-->
{% if can_add_clientes %}
{% block title %}Crear Cliente{% endblock %}

{% block content %}
<div class="cliente-form-container">
    <h2>Registrar nuevo Cliente</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="form-container">
            <label for="{{ form.nombre.id_for_label }}">Nombre</label>
            {{ form.nombre }}

            <label for="{{ form.documento.id_for_label }}">Documento</label>
            {{ form.documento }}

            <label for="{{ form.correo.id_for_label }}">Correo</label>
            {{ form.correo }}

            <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
            {{ form.telefono }}

            <label for="{{ form.tipoCliente.id_for_label }}">Tipo Cliente</label>
            {{ form.tipoCliente }}

            <label for="{{ form.categoria.id_for_label }}">Categoría</label>
            {{ form.categoria }}
        </div>

        <!-- Botones alineados a la derecha -->
        <div class="form-buttons">
            <a href="{% url 'crear_cliente' %}" class="add-btn cancel-btn">Cancelar</a>
            <button type="submit" class="add-btn">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}
{% endif %}
