{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
</head>
<body>
    <header class="header-nav">
        <nav class="nav-container">
            <!-- Logo on the left -->
            <div class="logo-container">
                {% if user.is_authenticated %}
                    <a href="{% url 'landing' %}"><img class="img-header" src="{% static 'webapp/global_exchange_logo.png' %}" alt="Company Logo"></a>
                {% else %}
                    <a href="{% url 'public_home' %}"><img class="img-header" src="{% static 'webapp/global_exchange_logo.png' %}" alt="Company Logo"></a>
                {% endif %}
            </div>
    
            <!-- Navigation buttons on the right -->
            <div class="nav-links">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="header-btn">Profile</a>
                    {% if is_admin %}
                        <a href="{% url 'manage_user_roles' %}" class="header-btn">Manage Roles</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="header-btn">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}" class="header-btn">Login</a>
                    <a href="{% url 'register' %}" class="header-btn">Register</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Django App</p>
    </footer>
</body>
</html>
