{% extends "webapp/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Límite para {{ categoria.nombre }}</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group" color="black">
            <label color="black" for="id_minimo_guaranies" >Monto mínimo (Gs)</label>
            {{ form.minimo_guaranies }}
        </div>
        <div class="form-group">
            <label color="black" for="id_maximo_guaranies" >Monto máximo (Gs)</label>
            {{ form.maximo_guaranies }}
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'listar_limites' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
