{% extends "webapp/base.html" %}
{% block title %}{% if object %}Editar{% else %}Agregar{% endif %} Entidad{% endblock %}

{% block content %}
<div class="admin-page-container">
    <h2>{% if object %}Editar{% else %}Agregar{% endif %} Entidad</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'entidad_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
