{% extends 'webapp/base.html' %}

{% load static %}

{% load permissions_tags %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage-hero">
    {% if not is_admin %}
        <h1>Bienvenido  a Global Exchange!</h1>
        <p>Proveemos el mejor servicio de cambio de monedas.</p>
    {% else %}
        <h1>Panel de Administración</h1>
    {% endif %}
    <div class="landing-links">
        <!--<img src="{% static 'webapp/global_exchange_logo.png' %}" alt="Company Logo" class="logo">-->

        {% if is_admin %}
            <a href="{% url 'manage_users' %}" class="home-btn">Administrar Usuarios</a>
            <a href="{% url 'manage_roles' %}" class="home-btn">Administrar Roles</a>
            <a href="{% url 'manage_user_roles' %}" class="home-btn">Administrar Roles de Usuario</a>
            <!-- Gestión de Clientes - Solo para Administradores -->
            <a href="{% url 'manage_clientes' %}" class="home-btn">Gestionar Clientes</a>
            <a href="{% url 'asignar_cliente_usuario' %}" class="home-btn">Asignar Clientes a Usuarios</a>
            <a href="{% url 'currency_list' %}" class="home-btn">Monedas</a>
        {% endif %}
    </div>
</div>
{% endblock %}
