{% extends 'webapp/base.html' %}

{% load static%}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage-container">
    <!--<img src="{% static 'webapp/global_exchange_logo.png' %}" alt="Company Logo" class="logo">-->
    <h1>Welcome to My Business!</h1>
    <p>We provide awesome services to make your life easier.</p>

    <div class="homepage-links">
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="home-btn">Your Profile</a>
            {% if is_admin %}
                <a href="{% url 'manage_users' %}" class="home-btn">Manage Users</a>
                <a href="{% url 'manage_roles' %}" class="home-btn">Manage Roles</a>
                <a href="{% url 'manage_user_roles' %}" class="home-btn">Manage User Roles</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="home-btn">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="home-btn">Login</a>
            <a href="{% url 'register' %}" class="home-btn">Register</a>
        {% endif %}
    </div>
</div>
{% endblock %}
