{% extends "webapp/base.html" %}
{% block title %}Administrar Usuarios{% endblock %}

{% block content %}
<h1>Administrar Usuarios</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- Botón para volver -->
    <div class="back-container">
        <a href="javascript:history.back()" class="btn-back">← Volver</a>
    </div>
    
    <table class="roles-table">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Nombre Completo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="{% if not user.is_active %}inactive-user{% endif %}">
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>
                    <a href="{% url 'modify_users' user.id %}" class="header-btn">Modificar</a>

                    <form method="POST" action="{% url 'manage_users' %}" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="toggle_user">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        {% if user.is_active %}
                            <button type="submit" class="header-btn">Desactivar</button>
                        {% else %}
                            <button type="submit" class="header-btn">Activar</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
