{% extends "webapp/base.html" %}
{% block title %}Manage Users{% endblock %}

{% block content %}
<div class="homepage-container">
    <h2>Administrar Usuarios</h2>
    <table class="roles-table">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Email</th>
                <th>Nombre Completo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>
                    <a href="{% url 'modify_users' user.id %}" class="header-btn">Modificar</a>
                    <a href="{% url 'confirm_delete_user' user.id %}" class="header-btn">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
