{% extends "webapp/base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Administrar Usuario{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-container user-edit">
        <div class="auth-card">
            <h1 class="auth-title">Modificar usuario</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="form-container">
                    <label for="username">Nombre de usuario</label>
                    <input id="username" name="username" type="text" class="input" value="{{ user.username }}" />
                </div>

                <div class="form-container">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" class="input" value="{{ user.email }}" />
                </div>

                <div class="form-container-row">
                    <div class="form-container">
                    <label for="first_name">Nombre</label>
                    <input id="first_name" name="first_name" type="text" class="input" value="{{ user.first_name }}" />
                    </div>
                    <div class="form-container">
                    <label for="last_name">Apellido</label>
                    <input id="last_name" name="last_name" type="text" class="input" value="{{ user.last_name }}" />
                    </div>
                </div>

                <fieldset class="form-container roles">
                    <legend>Roles</legend>

                    <label class="check">
                        <input type="checkbox" name="roles" value="usuario"
                            {% if is_user %}checked="checked"{% endif %}>
                        Usuario
                    </label>

                    <label class="check">
                        <input type="checkbox" name="roles" value="empleado"
                            {% if is_employee %}checked="checked"{% endif %}>
                        Empleado
                    </label>

                    <label class="check">
                        <input type="checkbox" name="roles" value="admin"
                            {% if is_admin %}checked="checked"{% endif %}>
                        Administrador
                    </label>
                </fieldset>



                <div class="form-actions">
                    <button type="submit" class="add-btn">Guardar cambios</button>
                    <button type="submit" name="delete" value="1" class="add-btn">Eliminar usuario</button>
                    <a href="{% url 'manage_users' %}" class="add-btn">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
