{% extends 'webapp/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="auth-container home-view">
    <div class="auth-card">

        <h1 class="auth-title">Bienvenido, {{ user.username }}!</h1>

        <dl class="user-info">
            <div class="row">
                <dt>Email</dt>
                <dd>{{ user.email }}</dd>
            </div>

            <div class="row">
                <dt>Nombre y Apellido</dt>
                <dd>{{ user.get_full_name|default:user.username }}</dd>
            </div>

            {% if user.bio %}
              <div class="row">
                  <dt>Bio</dt>
                  <dd>{{ user.bio }}</dd>
              </div>
            {% endif %}

            {% if user.birthdate %}
              <div class="row">
                  <dt>Fecha de Nacimiento</dt>
                  <dd>{{ user.birthdate }}</dd>
              </div>
            {% endif %}
        </dl>

    </div>
</div>
{% endblock %}
